body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#container{
    display: grid;
    grid-template-columns: 20vw 80vw; /* 15% of the view port width, and 85% of the view port width */
    grid-template-rows: 100%; /* 100% of the height */
    height: 100%;
}
#side-bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #DBEADD;
    padding: 20px;
}

#logo{
    width:50px;
}
.brand{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    color: #34574A;
}
.menu-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #aad1af;
    padding: 10px;
    border-radius: 10px;
    border: 2px black solid;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}
.menu-item:hover{
    background-color: #748d77;
}
.menu-item-icon{
    width:20px;
    margin-right: 20px;
}
.ask-task-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 30px;
    padding-bottom: 60px;
    border-bottom: 2px grey solid;
}
.text-field-container{
    width: 100%;
}
.text-field{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #a4c9bc;
    border: 1px black solid;
    font-weight: bold;
    color:rgb(40, 53, 38);
    border-radius: 10px;
    font-size: 24px;
}
.add-task-button-container{
    text-align: center;
    width: 100%;
    background-color: rgb(144, 189, 135);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    border: 1px black solid;
}
.add-task-button-container:hover{
    background-color: rgb(80, 122, 107);
    cursor: pointer;
}
#main-area{
    background-color: #DBEADD;
    padding: 50px;
    border: rgb(162, 185, 162) 1px solid;
}
.task{
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    border-radius: 10px;
    padding : 20px;
    font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:rgb(80, 122, 107);
    background-color: #acd6c7;
}
#task{
    display: none; /* Make the mold not appear */
}
.task-options-icons-container{

}
.task-options-icon{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 20px;
    padding: 5px;
    background-color: #add6c6;
    border: 1px black solid;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.task-options-icon:hover{
    background-color: #728a81;
}